<main class="transition-all ease-in-out delay-75 duration-1000 opacity-0" phx-mounted={JS.remove_class("opacity-0")}>
  <div class="w-full flex justify-center items-center">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
